<div class="page-section">
  <div class="container">
    <h2 class="section-title">Education</h2>
    <div class="timeline">

      <div class="timeline-item">
        <div class="timeline-year">Expected Graduation: Jun 2026</div>
        <div class="timeline-content">
          <h3>Bachelor of Information Technology</h3>
          <p class="institution">James Cook University Singapore</p>
          <p>Expected Graduation: Jun 2026</p>
          <p>desc</p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-year">2021 -2022</div>
        <div class="timeline-content">
          <h3>Professional Diploma in Game Engine and Development</h3>
          <p class="institution">Southern University College Malaysia</p>
          <p>desc</p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-year">2014 -2019</div>
        <div class="timeline-content">
          <h3>Malaysian Certificate of Education (SPM)</h3>
          <p class="institution">Seri Omega Private & International School</p>
          <p>desc</p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-year">2007 -2014</div>
        <div class="timeline-content">
          <h3>Ujian Pencapaian Sekolah Rendah (UPSR)</h3>
          <p class="institution">SJK(C)FOON YEW 2</p>
          <p>desc</p>
        </div>
      </div>
    </div>
  </div>
</div>