<div class="page-section">
  <div class="container">
    <h2 class="section-title">Experience</h2>
    <div class="timeline">
      <div class="timeline-item">
        <div class="timeline-year">year</div>
        <div class="timeline-content">
          <h3>Title</h3>
          <p class="institution">place</p>
          <ul>
            <li>desc</li>
            <li>desc</li>
          </ul>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-year">year</div>
        <div class="timeline-content">
          <h3>Title</h3>
          <p class="institution">place</p>
          <ul>
            <li>desc</li>
            <li>desc</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>