<div class="page-section">
  <div class="container">
    <h2 class="section-title">Technical Skills</h2>
    <div class="skills-cloud">
      <span class="skill-tag">Software Development</span>
      <span class="skill-tag">Problem Solving</span>
      <span class="skill-tag">Programming skills</span>
      <span class="skill-tag">Web Development</span>
      <span class="skill-tag">2D Modeling</span>
      <span class="skill-tag">3D Modeling</span>
      <span class="skill-tag">3D Animation</span> 
      <span class="skill-tag">Version Control</span>
      <span class="skill-tag">Data Analysis</span>
      <span class="skill-tag">Machine Learning</span>
      <span class="skill-tag">Cybersecurity fundamentals</span>

      <span class="skill-tag">Python</span>
      <span class="skill-tag">Git & GitHub</span>
      <span class="skill-tag">Pytorch</span>
      <span class="skill-tag">Maya</span>
      <span class="skill-tag">Blender</span>
      <span class="skill-tag">Unreal Engine</span>
      <span class="skill-tag">3Dx Max</span>
      <span class="skill-tag">Photoshop</span>    
      <span class="skill-tag">Substance Painter</span>  
      <span class="skill-tag">MySQL</span>
      <span class="skill-tag">Kaggle</span>
      <span class="skill-tag">Django</span>
      <span class="skill-tag">HTML/CSS</span>

    </div>
  </div>
</div>